<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_CashOnDelivery
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_CashOnDelivery" setup_version="1.0.0">
        <sequence>
            <module name="Magento_OfflinePayments" />
            <module name="Magento_Sales" />
            <module name="Magento_Tax" />
            <module name="Magento_Reward" />
            <module name="Amasty_Checkout" />
            <module name="Amasty_Conditions" />
            <module name="Amasty_Extrafee" />
        </sequence>
    </module>
</config>
