<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="updates" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Updates</label>
			<tab>alsaifgallery</tab>
			<resource>AlsaifGallery_ForceUpdate::config_alsaifgallery_forceupdate</resource>
			<group id="force_update" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Force Update</label>
				<!-- IOS -->
				<field id="enable_force_update_ios" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Force Update for IOS</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="version_number_ios" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Version Number</label>
					<comment/>
				</field>
				<!-- Android -->
				<field id="enable_force_update_android" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Force Update for Android</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="version_number_android" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Version Number</label>
					<comment/>
				</field>
				<!-- Huawei -->
				<field id="enable_force_update_huawei" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Force Update for Huawei</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="version_number_huawei" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Version Number</label>
					<comment/>
				</field>
			</group>
			<group id="recommended_update" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Recomended Update</label>
				<field id="enable_recm_update" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Recommended Updates</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="version_number" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Version Number</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
