<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<updates>
			<force_update>
				<enable_force_update/>
				<version_number/>
			</force_update>
			<recommended_update>
				<enable_recm_update/>
				<version_number/>
			</recommended_update>
		</updates>
	</default>
</config>
