<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
               
                <forgotpassword>
                    <email>
                        <send_email>send_email_email_template_forgot_password_verify</send_email>
                    </email>
                </forgotpassword>
     
	</default>
        
 
     
</config>
